page-dashboard {
    ion-footer{
             width:100%;
             height:50px;
    ion-icon{
      
                 margin-top: -10px;
                 font-size: 27px;
                 color: black;
    }
    #uploadicon{
        padding-left: 60px;
    }
    }
    #center{
      padding-left: 100px;
 
    }
   
    .log-out{
        zoom: 1.5;
        color:white;
    }
    ion-col{
        align-content:center;
    }
    .positionRelative{
        position: relative;
    
    }
    
    .percentageValue {
        left: 0px;
        top: 40%;
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
       
    }
}

